@charset "utf-8";

/* CSSリセット */
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;

    /* デフォルトの文字色、font-familiyを予め当てておく */
    color: #444;
    font-family: "しっぽり明朝", Shippori Mincho, "游明朝", YuMincho,
        "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3",
        "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /* 下線を消す */
    text-decoration: none;

    /* 色を消す */
    color: inherit;

    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /* 左の「・」を消す */
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
/* ここまで */

/* 桜散る */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap");

.sakura {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sakura li {
    position: absolute;
    list-style: none;
    top: -50px;
    background: #ffdbed;
    border-radius: 0% 70%;
    animation: fall 4s linear infinite, sway 2s ease-in-out infinite alternate;
}

@keyframes fall {
    to {
        top: 120%;
    }
}

@keyframes sway1 {
    from {
        transform: translateX(0px) rotate(0deg);
    }
    to {
        transform: translateX(200px) rotate(-45deg);
    }
}

@keyframes sway2 {
    from {
        transform: translateX(200px) rotate(-45deg);
    }
    to {
        transform: translateX(0px) rotate(0deg);
    }
}

.sakura li:nth-child(1) {
    left: 0%;
    width: 24px;
    height: 15px;
    animation: fall 10s linear infinite, sway1 3s ease-in-out infinite alternate;
    animation-delay: 2s;
}

.sakura li:nth-child(2) {
    left: 5%;
    width: 13px;
    height: 9px;
    animation: fall 15s linear infinite, sway1 2s ease-in-out infinite alternate;
    animation-delay: 8s;
}

.sakura li:nth-child(3) {
    left: 15%;
    width: 16px;
    height: 10px;
    animation: fall 9s linear infinite,
        sway1 3.5s ease-in-out infinite alternate;
    animation-delay: 13s;
}

.sakura li:nth-child(4) {
    left: 30%;
    width: 16px;
    height: 10px;
    animation: fall 8s linear infinite, sway2 4s ease-in-out infinite alternate;
    animation-delay: 7s;
}
.sakura li:nth-child(5) {
    left: 40%;
    width: 16px;
    height: 10px;
    animation: fall 10s linear infinite, sway1 4s ease-in-out infinite alternate;
    animation-delay: 0s;
}
.sakura li:nth-child(6) {
    left: 55%;
    width: 24px;
    height: 15px;
    animation: fall 11s linear infinite, sway2 3s ease-in-out infinite alternate;
    animation-delay: 3s;
}
.sakura li:nth-child(7) {
    left: 65%;
    width: 16px;
    height: 10px;
    animation: fall 7s linear infinite,
        sway2 3.5s ease-in-out infinite alternate;
    animation-delay: 7s;
}
.sakura li:nth-child(8) {
    left: 50%;
    width: 13px;
    height: 9px;
    animation: fall 7s linear infinite, sway1 3s ease-in-out infinite alternate;
    animation-delay: 3s;
}
.sakura li:nth-child(9) {
    left: 80%;
    width: 16px;
    height: 10px;
    animation: fall 10s linear infinite, sway2 4s ease-in-out infinite alternate;
    animation-delay: 4s;
}

Resources body {
    background-image: url("../images/background_image.jpg");
    background-size: cover;
    background-position: center;
}
/* 桜散るーここまでー */

body {
    background-image: url("../images/background_image.jpg");
    background-size: cover;
    background-position: center;
}

.header_wrap {
    position: absolute;
    top: 0;
    right: 0;
    padding: 24px 7% 0 2.8%;
}

.pc_nav ul {
    display: flex;
}

.pc_nav ul li {
    width: 105px;
    margin-left: 55px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.section_inner {
    max-width: 1000px;
    margin: 0 auto;
}

#works_results {
    margin-top: 200px;
}

.works_title {
    display: flex;
    padding-bottom: 50px;
    position: relative;
    left: 200px;
    position: relative;
}

.title {
    display: flex;
    align-items: center;
}

.title h2 {
    padding-left: 5px;
    position: relative;
    left: 90px;
}

.heading {
    border-left: 1px solid #444;
    width: 3em;
    align-items: center;
    position: absolute;
    left: 440px;
}

.works_detail {
    font-size: 14px;
    line-height: 1.8;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic";
    padding-bottom: 50px;
    position: relative;
    left: 300px;
}

.works_img {
    text-align: center;
    padding-bottom: 100px;
}

.works_img img {
    width: 400px;
}

footer {
    position: relative;
}

.footer_wrap {
    text-align: center;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}

@media screen and (max-width: 1100px) {
    .pc_nav ul li {
        font-size: 12px;
    }
}
